{% extends "layout.html" %}

{% block title %}Something like a Jeopardy board{% endblock %}

{% block content %}
  <h1>Try making a Jeopardy Board</h1>

<table class="jGameBoard">
<tr class="jHead">
  <td>UCSD<br>alumni</td>
  <td>UCSD<br>places</td>
  <td>UCSD<br>facts</td>
  <td>UCSD<br>colleges</td>
  <td>UCSD<br>events</td>
  <td>UCSD<br>orgs</td>
</tr>
<tr class="jBoard">
 <td>$ 100</td>
 <td>$ 100</td>
 <td>$ 100</td>
 <td>$ 100</td>
 <td>$ 100</td>
 <td>$ 100</td>
</tr>
<tr class="jBoard">
 <td>$ 200</td>
 <td>$ 200</td>
 <td>$ 200</td>
 <td>$ 200</td>
 <td>$ 200</td>
 <td>$ 200</td>
</tr>
<tr class="jBoard">
 <td>$ 300</td>
 <td>$ 300</td>
 <td>$ 300</td>
 <td>$ 300</td>
 <td>$ 300</td>
 <td>$ 300</td>

</tr>

<tr class="jBoard">
 <td>$ 400</td>
 <td>$ 400</td>
 <td>$ 400</td>
 <td>$ 400</td>
 <td>$ 400</td>
 <td>$ 400</td>
</tr>

<tr class="jBoard">
 <td>$ 500</td>
 <td>$ 500</td>
 <td>$ 500</td>
 <td>$ 500</td>
 <td>$ 500</td>
 <td>$ 500</td>
</tr>
</table>


{% endblock %}
